<ion-content [fullscreen]="true">
  <div class="page-container animate-fade-in">
    <div class="background-overlay"></div>

    <div class="content-wrapper">
      <app-back-button link="/login"></app-back-button>

      <div class="header-section">
        <h1 class="display-font">Reset Password</h1>
        <p>Enter your email to receive a secure recovery code.</p>
      </div>

      <div class="glass-card form-section">
        <form>
          <app-email-input label="Recovery Email" placeholder="Enter your registered email"></app-email-input>

          <div class="info-box">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>We'll send a one-time password (OTP) to this address.</span>
          </div>

          <div class="submit-wrapper">
            <app-button label="Send Recovery OTP" link="/login"></app-button>
          </div>
        </form>
      </div>

      <div class="footer-link">
        <span>Remembered your password?</span>
        <ion-button fill="clear" routerLink="/login" class="link-button">
          Sign In
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>