<ion-header>
  <ion-toolbar>
    <ion-title>Forgot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-start ion-padding">
      <ion-title class="ion-no-padding">forgot-password?</ion-title>
      <ion-text>
        <p>Please enter the email address associated with your account.</p>
      </ion-text>
    </div>

    <div class="ion-padding">
      <ion-text>
        <p>Enter your email address</p>
      </ion-text>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="email"></ion-input>
    </div>
    <app-button label="Get OTP"></app-button>
</ion-content>
