<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" class="ion-padding">
    <div class="ion-text-start ion-no-padding">
      <ion-text class="ion-margin">
        <p>Please login to your account.</p>
      </ion-text>
    </div>
    <app-email-input formControlName="email"></app-email-input>
    <app-password-input formControlName="password" style="margin-top: 16px; display: block;"></app-password-input>
    <div class="ion-text-right">
      <ion-button fill="clear" routerLink="/forgot" size="small">
        ¿Olvidaste tu contraseña?
      </ion-button>
    </div>
    <app-button label="Login" link="/home"></app-button>
  </form>

  <div class="footer-link">
    <span>Don't have an account?</span>
    <ion-button fill="clear" routerLink="/register" class="link-button">
      sign-up
    </ion-button>
  </div>
</ion-content>