<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
    <ion-item fill="outline">
      <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="firstName" type="text"></ion-input>
    </ion-item>
    <ion-note slot="error" *ngIf="loginForm.get('firstName')?.touched && loginForm.get('firstName')?.invalid"
      color="danger">
      Ingresa un nombre válido. Campo requerido
    </ion-note>

    <ion-item fill="outline" class="ion-margin-top">
      <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="lastName" type="text"></ion-input>
    </ion-item>
    <ion-note slot="error" *ngIf="loginForm.get('lastName')?.touched && loginForm.get('lastName')?.invalid"
      color="danger">
      Ingresa un apellido válido. Campo requerido
    </ion-note>

    <app-email-input formControlName="email" style="margin-top: 16px; display: block;"></app-email-input>
    <ion-note slot="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" color="danger">
      Ingresa un apellido válido. Campo requerido
    </ion-note>

    <app-password-input label="Enter your password" formControlName="password" style="margin-top: 16px; display: block;"></app-password-input>
    <app-password-input label="Re-Enter your password" formControlName="password" style="margin-top: 16px; display: block;"></app-password-input>
    
    <ion-note slot="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
      color="danger">
      Ingresa un apellido válido. Campo requerido
    </ion-note>

    <app-button label="Register" link="/login"></app-button>
  </form>
</ion-content>